cc/*.mra
rom/*.rom
*.bak
*.7z
*.tar.gz
*.rom
*.arc
*.log
*.hex
*.png
*.zip
*.bin
*.raw
*.wav
*.xml
*.jpg
*.rbf
*.rpt
*.smsg
*.summary
*.lxt
*.fst
*.vcd
*.qpf
*.qsf
jtsim.f
jtsim_vhdl.f
mist.f
macros.f
db
sim
cores/cps*/mist/*
cores/cps*/sidi/*
cores/cps*/mister/*
cores/cps*/neptuno/*
history
shift
sweep
rom/unzip
core.def
releases
.DS_Store
