*.7z
*.arc
*.bak
*.bin
*.fst
*.hex
*.jpg
*.log
*.lxt
*.png
*.qpf
*.qsf
*.raw
*.rbf
*.rbf_r
*.rom
*.rpt
*.smsg
*.summary
*.tar.gz
*.vcd
*.wav
*.xml
*.zip
.DS_Store
cc/*.mra
core.def
cores/cps*/mist/*
cores/cps*/mister/*
cores/cps*/neptuno/*
cores/cps*/sidi/*
db
history
jtsim.f
jtsim_vhdl.f
macros.f
mist.f
releases
rom/*.rom
rom/unzip
shift
sim
sweep
test.cpp