[submodule "modules/jtframe"]
	path = modules/jtframe
	url = https://github.com/jotego/jtframe
[submodule "modules/jt51"]
	path = modules/jt51
	url = https://github.com/jotego/jt51
[submodule "modules/jt6295"]
	path = modules/jt6295
	url = git@github.com:jotego/jt6295.git
[submodule "modules/fx68k"]
	path = modules/fx68k
	url = git@github.com:ijor/fx68k.git
