[submodule "modules/jtframe"]
	path = modules/jtframe
	url = https://github.com/jotego/jtframe
[submodule "modules/jt51"]
	path = modules/jt51
	url = https://github.com/jotego/jt51
[submodule "modules/jt6295"]
	path = modules/jt6295
	url = https://github.com/jotego/jt6295
[submodule "modules/fx68k"]
	path = modules/fx68k
	url = https://github.com/ijor/fx68k
[submodule "modules/jteeprom"]
	path = modules/jteeprom
	url = https://github.com/jotego/jteeprom.git
[submodule "modules/jtdsp16"]
	path = modules/jtdsp16
	url = https://github.com/jotego/jtdsp16.git
[submodule "doc/cps2-reverse"]
	path = doc/cps2-reverse
	url = https://gitlab.com/loic.petit/cps2-reverse.git
