cc/*.mra
rom/*.rom
*.bak
*.7z
*.tar.gz
*.rom
*.arc
*.mra
*.log
*.hex
*.png
*.zip
*.bin
*.raw
*.wav
*.xml
sim
cores/cps*/mist/*
cores/cps*/sidi/*
cores/cps*/mister/*
history
shift
sweep
rom/unzip
core.def
releases
